<div class="container-fluid py-4">
<div class="card-group">
    <div class="card">
      <img src="https://cdn2.mediotiempo.com/uploads/media/2021/04/18/clubes-europa-retan-uefa-foto-4.jpg"  height="300px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Administrar Equipos</h5>
        <p class="card-text">Crea, actualiza, elimina equipos</p>
        <p class="card-text"><small class="text-muted"><a  routerLink="/crear-equipo"><button>Acceder</button></a></small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://www.encancha.mx/u/fotografias/m/2021/7/15/f608x342-15648_45371_7.jpg" height="300px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Administrar Torneos </h5>
        <p class="card-text">Crea, actualiza, elimina torneos.</p>
        <p class="card-text"><small class="text-muted"><button>Acceder</button></small></p>
      </div>
    </div>
    <div class="card">
      <img src="http://c.files.bbci.co.uk/1220A/production/_118105247_gettyimages-1232232059.jpg" height="300px"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Administrar Partidos</h5>
        <p class="card-text">Crea, actualiza, elimina partidos.</p>
        <p class="card-text"><small class="text-muted"><button>Acceder</button></small></p>
      </div>
    </div>
  </div>
</div>








